networks:
  simplilearn-phpinfo-network:
    internal: true
  volume-init-network:
    internal: true

services:
  simplilearn-phpinfo-service:
    command: 
      - -f
      - index.php
      - -S
      - 0.0.0.0:8080
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.role == worker
      replicas: 2
    entrypoint: /usr/bin/php
    environment:
      HELLO: world
      AUTHOR: Sebastian
    image: academiaonline/simplilearn-phpinfo:single-line
    networks:
      - simplilearn-phpinfo-network
    ports:
      - 80:8080
    user: nobody
    volumes:
      - simplilearn-phpinfo-volume:/shared/:ro
    working_dir: /shared/simplilearn-phpinfo/src/
  volume-init-service:
    command:
      - 'rm -rf simplilearn-phpinfo/ && git clone https://github.com/academiaonline/simpliearn-phpinfo && cd simplilearn-phpinfo/ && git checkout 2021-08 && sleep 1000'
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == worker
    entrypoint:
      - sh
      - '-c'
    environment:
      HELLO: bye
    image: alpine/git:latest
    networks:
      - volume-init-network
    user: root
    volumes:
      - simplilearn-phpinfo-volume:/shared/:rw
    working_dir: /shared/
  
version: '3.8'

volumes:
  simplilearn-phpinfo-volume:
